{
    "account": "ng45796.ap-southeast-2",
    "user": "your_user",
    "password": "your_password",
    "role": "DEVELOPER",
    "warehouse": "COMPUTE_WH",
    "database": "FUNDTAP",
    "schema": "STAGING"
}
